<footer class="l-footer p-footer">
  <%- include('../_component/_page-top') %>
  <div class="p-footer__inner l-inner">
    <div class="p-footer__item-wrap">
      <div class="p-footer__item-left">
        <div class="p-footer__logo">
          <a href="<%= path %>">
            <img width="121" height="45" loading="lazy" decoding="async" src="<%= path %>assets/images/common/logo_footer01.svg" alt="廻る鼓響（こきょう）吉田店" />
          </a>
        </div>
        <div class="p-footer-address-wrap">
          <address class="p-footer-address">
            <p class="p-footer-address__shop">廻る鼓響 吉田店<br>新潟県燕市吉田3520-1</p>
            <p class="p-footer-address__tel">TEL:<span>0256-92-5414</span></p>
          </address>
          <p class="p-footer-address__map"><a target="_blank" href="https://goo.gl/maps/56AoYokmUTmZDUmm8">Googleマップ</a></p>
          <p class="p-footer-address__line">
            <a target="_blank" href="https://lin.ee/wy3gtSs"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="36" border="0" /></a>
          </p>
        </div>
      </div>
      <div class="p-footer__item-center">
        <div class="p-footer__logo">
          <a href="<%= path %>">
            <img width="147" height="39" loading="lazy" decoding="async" src="<%= path %>assets/images/common/logo_footer02.svg" alt="回転寿司鼓響（こきょう）燕三条店" />
          </a>
        </div>
        <div class="p-footer-address-wrap">
          <address class="p-footer-address">
            <p class="p-footer-address__shop">回転寿司鼓響 燕三条店<br>新潟県三条市須頃2-110-1</p>
            <p class="p-footer-address__tel">TEL:<span>0256-64-8263</span></p>
          </address>
          <p class="p-footer-address__map"><a target="_blank" href="https://goo.gl/maps/dWi2XdfRAgUEQaSp7">Googleマップ</a></p>
          <p class="p-footer-address__line">
            <a target="_blank" href="https://lin.ee/hhwxfs7"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="36" border="0" /></a>
          </p>
        </div>
      </div>
      <div class="p-footer__item-right p-footer-nav">
        <ul class="p-footer-nav__list">
          <li class="p-footer-nav__item">
            <a href="<%= path %>menus">メニュー</a>
          </li>
          <li class="p-footer-nav__item">
            <a href="<%= path %>takeout">お持ち帰り</a>
          </li>
          <li class="p-footer-nav__item">
            <a href="<%= path %>store">店舗情報</a>
          </li>
          <li class="p-footer-nav__item">
            <a href="<%= path %>kodawari">鼓響のこだわり</a>
          </li>
          <li class="p-footer-nav__item">
            <a href="<%= path %>initiatives">鼓響の取り組み</a>
          </li>
        </ul>

        <p class="l-button l-button--center">
          <%- include('../_component/_button', {
            modifier: [
            '--icon01',
            '--sm'
            ]
          }) %>
        </p>

      </div>
    </div>

    <div class="p-footer__copyright">
      <small>Copyrights ©廻る鼓響 All Rights Reserved.</small>
    </div>
  </div>
</footer>
