<%_ const path='../'; _%>
<!DOCTYPE html>
<html lang="ja">
  <head>
    <!-- meta -->
    <%- include(path + '_common/_head', { path:path,pageMeta:global.pageMeta['contact'],}) %>
  </head>
  <body class="l-body">
    <%- include(path + '_common/_header',{path:path,}) %>

    <!-- main -->
    <main class="l-body-main">

      <!-- 下層ページのメインビュー -->
      <%- include(path + '_component/_mv', {
        path:path,
        pageMeta:global.pageMeta['contact'],
        modifier:'--white'
      }) %>

      <!-- パンくず -->
      <%- include(path + '_component/_breadcrumb', {
        path:path,
        pageMeta:global.pageMeta['contact'],
      }) %>

      <div class="l-page-contact p-page-contact">
        <div class="p-page-contact__inner l-inner">
          <p class="p-page-contact__text">
            Webサイトの制作のご依頼やお見積りなど、<br class="u-mobile" />
            お気軽にご相談ください。
          </p>
          <div class="p-page-contact__content p-form">
            <form action="" method="post" id="">
              <dl class="p-form__item" class="p-form__item">
                <dt>
                  お問い合わせ種別 <span><sup>*</sup>必須</span>
                </dt>
                <dd class="p-form__radio">
                  <label><input type="radio" name="target" value="ラジオボタン" checked /><span>お仕事のご依頼・ご相談</span></label>
                  <label><input type="radio" name="target" value="ラジオボタン2" /><span>お見積りのご依頼</span></label>
                  <label><input type="radio" name="target" value="ラジオボタン2" /><span>採用について</span></label>
                  <label><input type="radio" name="target" value="ラジオボタン2" /><span>その他</span></label>
                </dd>
              </dl>
              <dl class="p-form__item">
                <dt>
                  お名前 <span><sup>*</sup>必須</span>
                </dt>
                <dd>
                  <input type="text" name="company" value="" required />
                </dd>
              </dl>
              <dl class="p-form__item">
                <dt>会社名</dt>
                <dd>
                  <input type="text" name="company" value="" />
                </dd>
              </dl>
              <dl class="p-form__item">
                <dt>
                  メールアドレス <span><sup>*</sup>必須</span>
                </dt>
                <dd>
                  <input type="email" name="mail_address" value="" />
                </dd>
              </dl>
              <dl class="p-form__item">
                <dt>電話番号 <span class="p-form__tel-info">（半角数字ハイフンなし）</span></dt>
                <dd>
                  <input type="tel" name="mail_address" value="" />
                </dd>
              </dl>
              <dl class="p-form__item">
                <dt>
                  お問い合わせ内容 <span><sup>*</sup>必須</span>
                </dt>
                <dd>
                  <textarea name="contents"></textarea>
                </dd>
              </dl>
              <dl class="p-form__item">
                <dt>
                  どこでCodeUpsをお知りになりましたか？ <span><sup>*</sup>必須</span>
                </dt>
                <dd>
                  <select name="hoge">
                    <option value="">選択してください</option>
                    <option value="option_1">Twitter</option>
                    <option value="option_2">口コミ</option>
                  </select>
                </dd>
              </dl>
              <div class="p-form__btn">
                <input type="button" value="送信する" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
    <!-- /main -->

    <%- include(path + '_common/_footer',{path:path,}) %>
  </body>
</html>
