sec02<%_ const path='../'; _%>
<!DOCTYPE html>
<html lang="ja">
  <head>
    <!-- meta -->
    <%- include(path + '_common/_head', { path:path,pageMeta:global.pageMeta['takeout'],}) %>
  </head>
  <body class="l-body l-body--bg01">
    <%- include(path + '_common/_header',{path:path,}) %>

    <!-- main -->
    <main class="l-main">

      <div class="p-takeout-mv js-mv-height">
        <div class="p-takeout-mv__title">

      <!-- 下層ページのメインビュー -->
      <%- include(path + '_component/_mv', {
        path:path,
        pageMeta:global.pageMeta['takeout'],
        modifier:'--horizontal'
      }) %>

      </div>
    </div>

    <div class="p-takeout-sec01 l-takeout-sec">
      <div class="p-takeout-sec01__inner l-inner">
        <div class="p-takeout-sec01__body">
          <p class="p-takeout-sec01__text">お持ち帰りは、待たずに便利な<br class="u-md-hidden">WEBでのご注文をご利用ください。</p>
          <p class="p-takeout-sec01__small"><small>※ご注文店舗をお間違いない様にご注意ください</small></p>
        </div>
      </div>
    </div>

    <div class="p-takeout-sec02 l-takeout-sec">
      <div class="p-takeout-sec02__inner l-inner">
        <div class="p-takeout-sec02__body">
          <ul class="p-takeout-sec02__item">
            <li class="p-takeout-sec02__list">
              <address class="p-takeout-sec02__address">
                <p class="p-takeout-sec02__shop">廻る鼓響　吉田店</p>
                <p class="p-takeout-sec02__time">営業時間:11:00～22:00　年中無休</p>
              </address>
            </li>
            <li class="p-takeout-sec02__list">
              <address class="p-takeout-sec02__address">
                <p class="p-takeout-sec02__shop">回転寿司 鼓響　燕三条店</p>
                <p class="p-takeout-sec02__time">営業時間:11:00～22:00　年中無休</p>
              </address>
            </li>
          </ul>
        </div>
        <div class="p-takeout-sec02__button l-button l-button--center l-button--mt-md">
          <a class="c-button c-button--accent c-button--md" href="<%= path %>takeout/order">WEBからのご注文方法</a>
        </div>
        <div class="p-takeout-sec02__small-warp">
          <p class="p-takeout-sec02__small"><small>※年末年始・お盆期間中は大変込み合います。お早目のご予約をおすすめいたします</small></p>
          <p class="p-takeout-sec02__small"><small>※状況によりご注文をお断りさせていただく場合がございます。ご了承ください。</small></p>
        </div>
      </div>
    </div>

    <div class="p-takeout-sec03 l-takeout-sec">
      <div class="p-takeout-sec03__inner l-inner">
        <ul class="p-takeout-sec03__list">

          <!-- ループ処理開始 -->
          <%- include(path + '_component/_takeout-list',{
            path:path,
            pageMeta:global.pageMeta['takeout']
          }) %>
          <!-- ループ終了 -->

        </ul>
      </div>
    </div>

    <div class="p-takeout-sec01 l-takeout-sec">
      <div class="p-takeout-sec01__inner l-inner">
        <div class="p-takeout-sec01__body">
          <p class="p-takeout-sec01__text">お持ち帰りは、待たずに便利な<br class="u-md-hidden">WEBでのご注文をご利用ください。</p>
          <p class="p-takeout-sec01__small"><small>※ご注文店舗をお間違いない様にご注意ください</small></p>
        </div>
      </div>
    </div>

    <div class="p-takeout-sec02 l-takeout-sec">
      <div class="p-takeout-sec02__inner l-inner">
        <div class="p-takeout-sec02__body">
          <ul class="p-takeout-sec02__item">
            <li class="p-takeout-sec02__list">
              <address class="p-takeout-sec02__address">
                <p class="p-takeout-sec02__shop">廻る鼓響　吉田店</p>
                <p class="p-takeout-sec02__time">営業時間:11:00～22:00　年中無休</p>
              </address>
            </li>
            <li class="p-takeout-sec02__list">
              <address class="p-takeout-sec02__address">
                <p class="p-takeout-sec02__shop">回転寿司 鼓響　燕三条店</p>
                <p class="p-takeout-sec02__time">営業時間:11:00～22:00　年中無休</p>
              </address>
            </li>
          </ul>
        </div>
        <div class="p-takeout-sec02__button l-button l-button--center l-button--mt-md">
          <a class="c-button c-button--accent c-button--md" href="<%= path %>takeout/order">WEBからのご注文方法</a>
        </div>
        <div class="p-takeout-sec02__small-warp">
          <p class="p-takeout-sec02__small"><small>※年末年始・お盆期間中は大変込み合います。お早目のご予約をおすすめいたします</small></p>
          <p class="p-takeout-sec02__small"><small>※状況によりご注文をお断りさせていただく場合がございます。ご了承ください。</small></p>
        </div>
      </div>
    </div>

    <!-- パンくず -->
    <%- include(path + '_component/_breadcrumb', {
      path:path,
      pageMeta:global.pageMeta['takeout'],
    }) %>

    </main>
    <!-- /main -->

    <%- include(path + '_common/_footer',{path:path,}) %>
  </body>
</html>
